/* the following Code is written by Christian Davis */

html {
    font-family: 'Oswald', sans-serif;
}

main {
    margin: 0;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4vw;
    padding-top: 0;
    padding-bottom:1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-between;
    font-family: 'Oswald', sans-serif;
    border-color: var(--border-color);
    border-style:solid;
    border-width:medium;
    border-top-width:0;
    border-bottom-width:0;
    background-color:var(--main-bg-color);
    color:var(--text-color);
}

#randomStream {
    border: 3px solid var(--section-border-color);
    border-top-width:0;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 1vw;
    margin-left: 0;
    margin-right: 0;
    padding-bottom:0;
    padding-top: 0;
}


#randomStream #twitch-embed {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
}

#randomStream #twitch-embed iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#randomStream #contentStream {
    display: flex;
    flex-direction: column;
    /* removed while testing stuff
    border-style: solid;
    border-width: thick;
    border-top-width: 0;
    border-color: var(-pre-hover);
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    */
    background-color: var(--section-color);
    padding: 1em;
}



#randomStream #title {
    display: inline-flex;
}

#contentStream #titleContent {
    position: relative;
    padding-bottom: 0.3em;
    padding-right: 0.4em;

}

#contentStream .titleCornor {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 1em;
    height: 1em;
    border-style: solid;
    border-color: var(--fancy-border-color);
    border-top-width: 0;
    border-left-width: 0;

}

#randomStream #info {
    posistion: relative;
    display: flex;
}



#contentStream #infoContent {
    background-color: var(--section-color);
    padding-top: 0.2em;
    padding-left: 0.4em;
}



#contentStream .infoCornor {
    position: absolute;
    width: 1.5em;
    height: 1em;
    border-style: solid;
    border-bottom-width: 0;
    border-right-width: 0;
    border-color: var(--fancy-border-color);

}

#contentStream #tags {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 2em;
}

#contentStream #tags img {
    width: auto;
    height: 1.7em;
}

#recommendedStreamers {
    background-color: var(--section-color);
    position: relative;
    padding: 1vw;
    padding-top:0.4vw;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--section-border-color);
    border-radius: 2px;
    border-bottom: 6px solid var(--color4);
    

}

#recommendedStreamers h1 {
    border-bottom-style: solid;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    border-bottom-color: var(--title-color);
    color:var(--h1-color);
}

#streamers {
    border-radius: 0.2em;
    position: relative;
    padding: 0.2em;
    
    margin: 0 auto;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}


.cdStreamerDiv {
    position: relative;
    border-bottom-style: solid;
    border-bottom-color: var(--pre-hover);
    border-bottom-width: thick;
    padding: 0em;
    display: block;
    width:30%;
    /* Width: Percent */
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0.5em;
    transition: 0.4s;
    border-radius: 0.1em;
}

.cdStreamerDiv:hover {
    margin-bottom: -0.10em;
    padding-bottom: 0.6em;
    border-color: var(--post-hover);
    cursor: pointer;
}

.cdStreamerDiv p,
h3 {
    width:100%;
    padding: 0;
    margin: 0.15em;
}

.cdStreamerDiv .cdPreviewImg {
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
    border: thin solid black;
    display: block;
    width: 100%;
    height: auto;
    align-items: center;

}

.cdStreamerDiv .redDot {
    color: red;
    font-size: 100%
}

.cdBottomBox {
    background-color: var(--bottom-box);
    flex-direction: row;
    display: flex;
    flex-wrap: nowrap;
    width:98%;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.cdStreamerInformation {
    padding: 0.2em;
    margin: 0.2em;
    display: flex;
    flex-direction: column;
}

.cdStreamerInformation .tagPicture {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 2em;
}

.cdStreamerInformation img {
    width: auto;
    height: 1.7em;
}

.cdStreamerInformation p {
    font-style:normal;
    position: relative;
    padding: 0.2;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cdStreamerTags {
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
}

.cdInternalTagSetup {
    display: flex;
    flex-direction: row;
}

#gameSection {
   background-color: var(--section-color);
    padding: 0;
    padding-top:0.4vw;
    margin: 0;
    margin-top: 2vw;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column;
    
    border: 2px solid var(--section-border-color);
    border-radius: 2px;
    

}

#gameSection h1 {
    border-bottom-style: solid;
    padding: 0;
    margin: 0;
    margin-left: 2vw;
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
     border-bottom-color: var(--title-color);
    color: var(--h1-color);
    
}

#games form {
    border-radius: 0.2em;
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    justify-content: center;
}

#games input {
    position:relative;
    width:131px;
    height:175px;
    border: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent;
    z-index:2;
}

 .gamesWrapper {
    position:relative;
    
}

 .gamesWrapper .viewersWrapperGames {
    visibility:hidden;
    position:absolute;
    color:transparent;
    left:10px;
    bottom: 12px;
    transition-duration: 0.2s;
    transition-delay: 0.15s
}

 .gamesWrapper:hover .viewersWrapperGames {
    visibility:visible;
    color:black;
    bottom: 2px;
    left: 10px;
}


 .gamesWrapper {
    min-width: 11%;
    border-top-left-radius: 0.1em;
    border-top-right-radius: 0.1em;
    border-radius: 0.1em;
    border-bottom-style: solid;
    border-bottom-width: thick;
    border-bottom-color: var(--pre-hover);
    margin: 8px;
    margin-top:0;
    margin-bottom: 22px;
    transition: 0.15s;
    transition-delay: 0.7s;
}

 .gamesWrapper:hover {
    margin-bottom: 2px;
    padding-bottom: 20px;
    border-color: var(--post-hover);
    transition-delay:0s;
    cusor: pointer;
}

 .gamesWrapper span {
    z-index:1;
}

/* This is where channel page will be styled
Koden skrevet af Christian Davis */
#streamers {
    background-color:var(--section-color);    
<<<<<<< HEAD
    margin:1vw;
    
=======
>>>>>>> eb76a0c60a4af27f891a98d75c31ebe7fca59487
}

#streamers #introstuffs{
    margin:1em;
    width:100%;
}
<<<<<<< HEAD
#channelpage {
    padding: 3vw;
    padding-top: 0;
    border: medium solid var(--section-border-color);
    border-top-width:0;
    background-color: var(--section-color);
}
=======
>>>>>>> eb76a0c60a4af27f891a98d75c31ebe7fca59487

#channelPage #channelContent {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    height: 35vw;
    border: 2px solid var(--section-border-color);
    border-radius: 2px;
}

#channelPage #channelContent #twitch-embed {
    height: inherit;
    display: flex;
    flex-grow: 3;
    flex-shrink: 1;
}

#chat_embed {
    position: absolute;
    right: 10px;
    margin-right: 0px;
    height: 90vh;
    top: 48px;
}

#channelPage #chat_embed {
    position: relative;
    width: 100%;
}

#channelPage #streamInfo {
<<<<<<< HEAD
        background-color: var(--section-color);
    border: medium solid var(--section-border-color);
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
=======
    border: 2px solid var(--section-border-color);
    border-radius: 2px;
>>>>>>> eb76a0c60a4af27f891a98d75c31ebe7fca59487
    border-top-width: 0;
    background-color: var(--section-color);
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#channelPage #streamInfo h3 {
    color:var(--h1-color);
    font-size: 1.3em;
    margin-top: 0.4em;
    padding-left: 0.2em;
    margin-left: 1em;
    border-left: thick solid var(--fancy-border-color);
    display: flex;
    flex-basis: 100%;
    flex-grow: 3;
    max-width: 80%;
}

#channelPage #streamInfo button {
    position: absolute;
    top: 0em;
    right: 0em;
    margin-top: 0.4em;
    margin-right: 0.5em;
    background-color: #6441a4;
    color: white;
    padding: 0.3em;
    flex-shrink: 1;
    border: 0;
}

#channelPage #streamInfo button:hover {
    cursor: pointer;
}


#channelPage #streamInfo form {
    border-radius: 0.2em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-top:8px;
    justify-content: center;
}

#streamInfo .gamesWrapper {
    margin-bottom: 8px;
}

#streamInfo .gamesWrapper:hover {
    padding-bottom: 4px;
    margin-bottom:4px;
}

#channelPage #streamInfo input {
    position:relative;
    width:80px;
    height:104px;
    border: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent;
    z-index:2;
}



#channelPage #streamInfo .info {
    position: relative;
    display: inline-block;
    flex-direction: column;
    background-color: var(--section-color);
    margin: 0.6em;
    padding: 0.5em;
}

#channelPage #streamInfo .info .topLeftCornor {
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    border-style: solid;
    border-bottom-width: 0;
    border-right-width: 0;
    border-color: var(--fancy-border-color);
}

#channelPage #streamInfo .info .topRightCornor {
    position: absolute;
    top: 0;
    right: 0;
    width: 1.5em;
    height: 1.5em;
    border-style: solid;
    border-bottom-width: 0;
    border-left-width: 0;
    border-color: var(--fancy-border-color);
}

#channelPage #streamInfo .info .botRightCornor {
    bottom: 0;
    right: 0;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-style: solid;
    border-color: var(--fancy-border-color);
    border-top-width: 0;
    border-left-width: 0;

}

#channelPage #streamInfo .info .botLeftCornor {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    border-style: solid;
    border-color: var(--fancy-border-color);
    border-top-width: 0;
    border-right-width: 0;

}


#channelPage #streamInfo .wrap {
    display: inline-block;
}

#channelPage .wrapper {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
    height:100%;
    border:solid thin grey;
    margin-top:8px;
    padding:8px;
    margin-bottom: 8px;
    margin-right:8px;
    padding-right:0;
    padding-bottom: 0;
}

#channelPage .infoWrapper {
    display:flex;
    width:100%;
    height:100%;
    margin:8px;
}

#channelPage .infoWrapper .info {
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    margin-top:8px;
    justify-content: center;
}

#channelPage #streamInfo .wrap span {
    font-size: 1.5em;
    border-bottom: thin solid rebeccapurple;
    display: inline-block;
    padding: 0;
    margin: 0;
}

#channelPage #streamInfo #container .info .wrap .descTagWrap {
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#channelPage #streamInfo .descTagWrap #tags {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-around;
}

#channelPage #streamInfo #container {
    display: flex;
}

#channelPage #streamInfo #streamerDescription {
    width: 60%;
}

#channelPage #streamInfo .cdTagImage {
    max-width: 48px;
    max-height: 48px;
}

/* media query's for responsiveness */

@media screen and (max-width:1080px) {
    #channelPage #streamInfo button {
        font-size: 70%;
    }
    .cdStreamerDiv {
        width:45%;
    }
    .cdStreamerDiv img {
        font-size: 80%;
    }
}
@media screen and (max-width:800px) {
    .cdStreamerDiv {
        font-size:0.8em;
    }
}

@media screen and (max-width:700px) {
    .cdStreamerDiv img {
        font-size: 80%;
    }

    #channelPage #streamInfo button {
        font-size: 50%;
    }

    #channelPage #channelContent {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
    }

    #channelPage #toggleChat {
        display: none;
    }
    
    #channelPage #channelContent iframe {
        font-size: 40%;
    }
}
