
body {
    position:relative;
}
#mainContent {
    margin: auto;
    display: flex;
    background-color: grey;
    width: 1500px;
    height: 1000px;
    justify-content: center;
    max-width: 95%;
}



.wrap {
    margin: 20px;
}

.aside {
     width: 400px;
    height: 400px;
    background-color: pink;
}

#red {
   
    background-color: red;
}

#doomfist {
    background: url('https://vignette.wikia.nocookie.net/overwatch/images/0/0e/Doomfist_portrait.png/revision/latest/scale-to-width-down/350?cb=20170807035611');
    background-position: center;
    background-repeat: no-repeat;
    border:0;
    background-color:grey;
}


#wrapper {
    width: 500px;
    height: 800px;
    background-color: lightcyan;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#yellow {
    width: 300px;
    height: 100px;
    background-color: yellow;
}

#green {
    width: 300px;
    height: 600px;
    background-color: green;
}



#blue {
    background-color: blue;

}

#purple {
    background-color: purple;
}

@media screen and (max-width:1080px) {



    #mainContent {

        width: 500px;
        height: 1000px;

        flex-direction: column;

        align-content: center;
        align-items: center;

    }



    #wrapper {
        order: -1;
        width: 300px
    }



}

@media screen and (max-width:800px) {



    #mainContent {

        width: 500px;
        height: 1000px;

        flex-direction: column;

        align-content: center;
        align-items: center;

    }



    #wrapper {
        order: -1;
        width: 300px
    }



}
