/* General styling and navigationbar styling*/

/* Koden skrevet af Mikkel Kokholm */

body {
    font-size: 1em;
    margin: 0px;
    height: 100vh;
    width: 100%;

    /* #745a5e */
    /* Red, blue, orange color palette https://imgur.com/a/PjC3z 
    /* Setup Colors: Mostly a test *
    --color1: #712000; /* this is the primary color *
    --color2: #0E3D61; /* buttons and post hover etc the second most color *
    --color2-dark: #011A2D; /* title underline and fancy borders *
    --color2-border: #021828; /* Section borders *
    --color3-text: #965C0D; /* The text color of content *
    --h1: var(--color1);
    --nav:#dddddd; /* navbar text color *
    --bottom-box:#282828;  /* streamer div text color  282828 is good *
    --bg: #282828;
    --section-color:#151515; /* 151515 is good *
    
    

    
    /* The primary color for the website *
    --main-color: var(--color1);
    
    
    /* border and styling stuff *
    
    --section-border-color:var(--color2-border); 

    --title-color: var(--color2-dark);
    
    --fancy-border-color:var(--color2-dark);
    
    --button-color: var(--color2);
    
    /* hover function *

    --pre-hover: var(--color2);
    
    --post-hover: var(--main-color);
    
    /* Text colors *
    
    --text-color:var(--color3-text);
    
    --h1-color: var(--h1);
    
    --nav-text:var(--nav);
    
    --tag-text-color: var(--nav-text);
    
     --tag-h2: var(--h1-color);
    
    /* background colors and such *
    
    --bottom-box:#282828;  /*282828 is good *
       
    --standard-bg-color: #282828; /*282828 is good *
    
    --section-color:#151515; /* 151515 is good *
    
    --standard-bg-color: var(--bg); /* 282828 is good *

    --sidebar-bg-color:var( --section-color);
    
    --main-bg-color:var(--standard-bg-color);
    
    --bg-color: var(--standard-bg-color);
    
    --border-color: var(--standard-bg-color);
    
    
    
    */
    /* Setup Colors: Mostly a test */
    --color1: #ffffff;
    /* this is the primary color */
    --color2: #1212ec;
    /* buttons and post hover etc the second most color */
    --color2-dark: #33549c;
    /* title underline and fancy borders */
    --color2-border: rgb(23, 23, 23);
    /* Section borders */
    --color4: #004391;
    /* section bottom border */
    --h1: #000000;
    --color3-text: #000000;
    /* The text color of content */
    --nav: #000000;
    --navhover: #434343;
    /* navbar text color */
    --bottom-box: rgba(255, 255, 255, 0.64);
    /* streamer div text color  282828 is good */
    --bg: rgba(255, 255, 255, 0.35);
    --section-color: #ffffff;
    --navactive: #f4f4f4;
    /* 151515 is good */
    /* The primary color for the website */
    --main-color: var(--color1);


    /* border and styling stuff */
    --section-border-color: var(--color2-border);

    --title-color: var(--color2-dark);

    --fancy-border-color: var(--color2-dark);

    --button-color: var(--color1);

    /* hover function */
    --pre-hover: var(--color2);

    --post-hover: #069d0c;

    /* Text colors */
    --text-color: var(--color3-text);

    --h1-color: var(--h1);

    --nav-text: var(--nav);

    --tag-text-color: var(--nav-text);

    --tag-h2: var(--h1-color);

    /* background colors and such *
    
    --bottom-box:#282828;  /*282828 is good *
       
    --standard-bg-color: #282828; /*282828 is good *
    
    --section-color:#151515; /* 151515 is good */
    --standard-bg-color: var(--bg);
    /* 282828 is good */
    --sidebar-bg-color: var( --section-color);

    --main-bg-color: rgba(222, 229, 236, 0);

    --bg-color: var(--standard-bg-color);

    --border-color: rgba(222, 229, 236, 0);

    background-image: url("../img/space-test.jpg");
    /* http://backgrounds.mysitemyway.com/background/tileable-classic-nebula-space-patterns-7/ */
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: var(--bg-color);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--color1);
    border-bottom: 5px solid var(--color2);
    transition: top 0.2s ease-in-out;
}

header.nav-up {
    top: -45px;
}

main {
    margin-top: 48px;
    padding-top: 0;
    z-index: 1;
}

.nav {
    position: relative;
    height: 40px;
    z-index: 10;
    margin-left: calc(50% - 726px);
    margin-right: calc(50% - 480px);
}

.nav .navContainer {
    position: absolute;
    display: inline-block;
    bottom: 0px;
    height: 100%;
}

.nav #leftNav {
    left: 0px;
}

.nav #rightNav {
    right: 0px;
}

.nav a {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 22px;
    font-weight: bold;
    margin-left: 10px;
    color: var(--nav);
    line-height: 32px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 4px;
    transition: color 750ms ease-in;
    border-bottom: 0px solid var(--color1);
    transition: border-bottom-width 350ms ease-out;
}

.nav #rightNav a {
    transform: translateY(3px);
}

.nav #navHome {
    font-size: 30px;
    margin-left: 0px;
    font-weight: bolder;
    padding-left: 0px;
}

.nav .navPic {
    padding-left: 8px;
    transform: translateY(25%);
}

.nav .navprofileimage {
    width: 24px;
    height: 24px;
    transform: translateY(10%);
}

.nav .navContainer a.active {
    color: var(--navhover);
    border: 2px solid var(--color2);
    border-bottom-width: 0px;
    padding-top: 0px;
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 4px;
    line-height: 34px;
    background-color: var(--navactive);
    border-bottom: 5px solid var(--navactive);
}

.nav #rightNav a.active {
    transform: translateY(0px);
}

.nav .navContainer a.active:hover {
    border-bottom: 5px solid var(--navactive);
}

.nav .navContainer a:hover {
    color: var(--navhover);
    border-bottom: 6px solid var(--color1);
    cursor: pointer;
    transition: color 100ms ease-out;
    transition: border-bottom-width 100ms;    
}

.nav .navContainer #navHome:hover {
    border-bottom: 9px solid var(--color1);
}

.nav .navContainer #mobileBurger {
    display: none;
    position: relative;
    font-size: 30px;
    transform: none;
    padding-right: 12px;
}

.nav .navContainer #mobileBurger:hover {
    color: var(--nav);
    border-width: 0px;
}

.nav .mobileNav {
    display: none;
    position: fixed;
    right: 0px;
    top: 40px;
    text-align: center;
    background-color: var(--color1);
    transition: top 0.2s ease-in-out;
}

.nav .mobileNav.nav-up {
    top: 0px;
}

.nav .mobileNav a {
    display: block;
    padding: 0px;
    margin: 0px;
    border: 2px solid var(--nav);
    border-bottom-width: 0px;
    padding: 4px;
    padding-top: 0px;
    padding-bottom: 0px;
}

.nav .mobileNav a:last-child {
    border-bottom-width: 2px;
}

/*SIDEBAR
Koden skrevet af: Asger Smedegaard */

.sideBar {
    display: inline-block;
    position: fixed;
    margin-top: 0px;
    height: 100%;
    width: 230px;
    top: 45px;
    background-color: var(--sidebar-bg-color);
    overflow: hidden;
    left: calc(50% - 495px);
    transform: translateX(-100%);
    border-left: thin solid var(--border-color);
    z-index: 4;
    transition: top 0.2s ease-in-out;
}

.sideBar.nav-up {
    top: 0px;
}

.sideBar #mobilehint {
    display: none;
    position: relative;
    top: 45%;
    transform: rotate(270deg);
    white-space: nowrap;
    color: rgb(67, 50, 80);
}

.sideBar .h2Img {
    padding: 0.8em;
    padding-right: 0.4em;
    padding-bottom: 0.2em;
    height: 32px;
    width: 32px;
}

.sideBar h3 {
    text-align: center;
}

.sideBar .searchWrapper {
    padding-right: 0.8em;
    display: flex;
}

.sideBar .searchWrapper img {
    margin: 0.2em;
}

.sideBar .searchWrapper input {
    padding-left: 0em;
    padding-bottom: 0em;
    border: 0;
    border-bottom: 2px solid black;
    border-radius: 0em;
}

.sideBar .searchWrapper input:focus {
    outline: none;
}

.sideBar #reset_button {
    border: 0;
    background: url('/img/icomoon-free_2014-12-23_cross_48-nohover.png');
    background-position: center;
    height: 40px;
    width: 40px;
    -webkit-box-shadow: 92px 181px 9px -85px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 92px 181px 9px -85px rgba(0, 0, 0, 0.75);
    box-shadow: 92px 181px 9px -85px rgba(0, 0, 0, 0.75);
}

.sideBar #reset_button:hover {
    cursor: pointer;
}

.sideBar #popTags {
    position: relative;
    text-align: center;
    margin: 0.5em;
    margin-top: 0;
    z-index: 3;
    border: 1px inset;
    border-radius: 5px;
    height: 25vh;
}

.sideBar #tagWrapper {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    align-content: flex-start;
    background-color: rgba(0, 0, 0, 0.21);
}

.sideBar .sidebarShadow {
    pointer-events: none;
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    -webkit-box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 1);
    box-shadow: inset 1px 1px 4px 1px rgba(0, 0, 0, 1);
}

#sidebar .tagContainer {
    position: relative;
    margin-top: 0.7em;
    min-width: 30%;
    width: 58px;
}

.tags {
    position: relative;
    height: 3em;
    width: 3em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0 solid rgba(0, 0, 0, 0);
    background-color: rgba(113, 110, 110, 0.64);
    -moz-box-shadow: 0 0 5px 5px #666;
    -webkit-box-shadow: 0 0 5px 5px #666;
    box-shadow: 0 0 15px 3px #666;
    border-radius: 50%;
    z-index: 0;
    transition: 2s;
}

.tags:hover {
    background-color: #862398;
    -moz-box-shadow: 0 0 5px 5px #862398;
    -webkit-box-shadow: 0 0 5px 5px #862398;
    box-shadow: 0 0 5px 5px #862398;
    transition: 0.4s;
    cursor: pointer;
}

.sideBar .tags.chosenFilter {
    background-color: #862398;
    -moz-box-shadow: 0 0 5px 5px #862398;
    -webkit-box-shadow: 0 0 5px 5px #862398;
    box-shadow: 0 0 5px 5px #862398;
    transition: 0.4s;
    cursor: pointer;
}

.tagForm p {
    margin: 0;
    font-size: 1em;
}

.sideBar hr {
    margin: 0.5em;
    margin-left: 1.2em;
    margin-right: 1.2em;
}

.sideBar .gamessidebar {
    position: relative;
    margin: 0.5em;
    margin-top: 0;
    border: 1px inset;
    border-radius: 5px;
    z-index: 3;
    height: 30vh;
}

.sideBar #gamesWrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.21);
    justify-content: space-around;
    text-align: center;
    align-content: flex-start;
    align-items: flex-start;
}

.sidebar #gamesform input {
    max-width: 10px;
}

.sideBar #populargames .sidebargame {
    flex: 1 1;
    margin: 7px;
    margin-bottom: 3px;
    height: 105px;
    width: 82px;
    border: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    color: transparent;
    background-color: rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
    transition: 0.15s;
}

.sideBar #populargames .sidebargame.chosenFilter {
    -webkit-box-shadow: 0px 0px 10px 3px rgba(179, 39, 179, 1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(179, 39, 179, 1);
    box-shadow: 0px 0px 10px 3px rgba(179, 39, 179, 1);
}

.sideBar #populargames .sidebargame:hover {
    background-color: rgba(179, 39, 179, 1);
    -webkit-box-shadow: 0px 0px 10px 3px rgba(179, 39, 179, 1);
    -moz-box-shadow: 0px 0px 10px 3px rgba(179, 39, 179, 1);
    box-shadow: 0px 0px 10px 3px rgba(179, 39, 179, 1);
    cursor: pointer;
}

.sideBar h2 {
    border-bottom: 1px solid var(--section-border-color);
    border-top: 1px solid var(--section-border-color);
    position: relative;
    text-align: center;
    color: var(--tag-h2);
}



#profilePage {
    position:relative;
    background-color: var(--section-color);
    padding: 0;
    padding-top: 0.4vw;
    margin: 0;
    margin-top: 2vw;
    margin-bottom: 1vw;
    display: flex;
    flex-direction: column;
    border: 2px solid var(--section-border-color);
    border-radius: 2px;
}

#profilePage #welcome {
    margin-left: 0.7em;
}

#profilePage #doYouStream {
    background-color: var(--post-hover);
    font-size: 1.2em;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: center;
}

#profilePage #profilePageWrapper {
    display: flex;
    flex-direction: row;
}

#profilePage #streamerInfoDiv {
    border-radius: 5px;
    background-color: #f2f2f2;
    margin: 0.5em;
    padding:0.5em;
}

#profilePage #tagSelection {
    margin: 0.5em;
    padding:0.5em;
    border-radius: 5px;
    background-color: #f2f2f2;   
}

#profilePage #streamerInfo input[type=url],
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#profilePage #streamerInfo input[type=submit] {
    width: 100%;
    background-color: var(--post-hover);
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    position: center;
}

#profilePage .serverResponse {
    text-align: center;
    color: grey;
}

#profilePage .profileTagContainer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-around;
    align-items: flex-end;
    justify-content: space-around;
}

#profilePage .tagOptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0.2em;
    width:22%;
}

#profilePage .tagOptionContainer input {
    color: transparent;
}

#profilePage .tagOptionContainer span {
    text-align: center;
}

#profilePage #logoutButton {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 10px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
    background-color: var(--main-color);
    border-radius: 5px;
    border: 1px solid black;
}

/* General media Queries for the sidebar
Koden skrevet af: Asger Smedegaard */

@media screen and (max-width:1475px) {
    .nav {
        margin-left: 0px;
        margin-right: calc(100% - 1208px);
    }
    
    .nav .navContainer #navHome {
        padding-left: 6px;
    }
    
    .sideBar {
        left: 0px;
        transform: translateX(0);
    }

    main {
        margin-left: 239px;
    }
}

@media screen and (max-width:1224px) {
    .nav {
        margin-right: auto;
    }
}

@media screen and (max-width:700px) {
    main {
        margin: 0px;
        margin-top: 48px;
        padding: 0px;
        border: 0px;
        width: 100%;
    }

    #sidebar {
        box-shadow: 2px 0 0 -1px #888;
        display: none;
    }

    #sidebar.collapsed {
        width: 20px;
    }

    #sidebar *.collapsed {
        display: none;
    }

    .sideBar #mobilehint.collapsed {
        display: block
    }

    .nav .navContainer a {
        display: none;
    }

    .nav .navContainer #navHome:hover {
        color: var(--nav);
        border-width: 0px;
    }

    .nav .navContainer #mobileBurger,
    #navHome {
        display: inline-block;
    }

    .nav .navContainer #mobileBurger {
        position: relative;
    }
    
    .nav .mobileNav.shown {
        display: block;
    }
    
    #profilePage #profilePageWrapper {
        flex-direction: column;
    }   
}

::-webkit-input-placeholder {
    font-style: italic;
    color: lightgrey;
}

::-moz-placeholder {
    font-style: italic;
    color: lightgrey;
}

:-ms-input-placeholder {
    font-style: italic;
    color: lightgrey;
}

:-moz-placeholder {
    font-style: italic;
    color: lightgrey;
}

@media screen and (max-width:1050px) {
    #profilePage #tagSelection {
        position: relative;
        float: none;
        left: 0%;
    }

    #profilePage #streamerInfoDiv {
        width: 95%;
    }
}